@model SpeciesModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Species Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.PetCountOutput)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.PetCountOutput)
        </dd>
    </dl>
    @if (Model.PetCountOutput > 0)
    {
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.PetNamesOutput)
            </dt>
            <dd class="col-10">
                @Html.Raw(Model.PetNamesOutput)
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



