@model PetModel

<h4>Pet</h4>
<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Sex)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Sex)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.BirthDateOutput)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.BirthDateOutput)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.IsAdoptedOutput)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.IsAdoptedOutput)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.HeightOutput)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.HeightOutput)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.WeightOutput)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.WeightOutput)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.SpeciesOutput)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.SpeciesOutput)
    </dd>
</dl>